@charset "utf-8";

body { font-family: sans-serif; text-align: center; margin: 20px; }

.hidden { display: none; }

#ar-scene { display: none; }

button {
    display:block;
    margin: 0 auto;
    width: 80%;
    height: 10%;
    font-size: 100%;
    color: #fff;
    background-color: #eb6100;
    border-radius: 10px;
    z-index: 1001;
}